* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background: #ecf0f1;
}
.app {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 220px;
  background: #2c3e50;
  color: white;
  padding: 20px;
}
.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
}
.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  background: #34495e;
  margin: 5px 0;
  border-radius: 5px;
}
.sidebar a:hover {
  background: #1abc9c;
}
.content {
  flex: 1;
  padding: 20px;
}
.navbar {
  background: white;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
input,
button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}
button {
  cursor: pointer;
}
.form-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
